---
import type { Stats as Props } from '~/types';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import { Icon } from 'astro-icon/components';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  stats = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex flex-wrap justify-center -m-4 text-center">
    {
      stats &&
        stats.map(({ amount, title, icon }) => (
          <div class="w-full min-w-[220px] p-4 text-center md:w-1/4 md:border-r md:border-slate-200 md:last:border-none dark:md:border-slate-800 sm:w-1/2 intersect-once intersect-quarter">
            {icon && (
              <div class="flex items-center justify-center mx-auto mb-4 text-primary">
                <Icon name={icon} class="w-10 h-10" />
              </div>
            )}
            {amount && (
              <div class="text-[2.35rem] font-semibold tracking-tight text-primary dark:text-white lg:text-5xl">
                {amount}
              </div>
            )}
            {title && (
              <div class="text-xs font-semibold uppercase tracking-[0.12em] text-slate-600 dark:text-slate-400 lg:text-sm">
                {title}
              </div>
            )}
          </div>
        ))
    }
  </div>
</WidgetWrapper>
